<nav>
  <div class="nav-inner">
    <a href="/" class="brand">CRM Demo</a>
    <div class="nav-links">
      <a href="/customers">Customers</a>
      <a href="/contacts">Contacts</a>
      <a href="/deals">Deals</a>
    </div>
  </div>
</nav>
<main>
